$blue:#021b42;
h2{ font-weight:600;

}
p{
    color:white;
}

.response{
    position:absolute;
    background-color:white;
    padding:2% 5% 2% 5%;
    border-radius:10px;
    width:60%;
    top:45%;
    left:15%;
    p{
        color:$blue;
    }
}
.dialogueStyle{
    position:absolute;
    margin:110% 10% auto 10%;
    text-align:center;
    .choice{
        display:block;
        border-radius: 50px;
        background-color:#f765b5;
        padding:7% 15% 7% 15%;
        margin-bottom:10%;
        width:90%;
        font-size:20px;
        border:none;
        
        color:white;
    
    }
}
body{
    font-family: 'Quicksand', sans-serif !important;
}
.hiddenFriend{
    position:absolute;
    margin:0;
    
    color:white;
    line-height: 1em;
    font-weight:500;
    width:100%;
    background-color:green;
    padding:3% 0 4% 0;
}
.center {
    
    position: absolute;
    // top: 2%;
    // left: 30%;
    // transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}
#insth2{
    a{
        i{  float:left;
            color:white;
        }
    }
}
.btn{
    position:absolute;
    border-radius: 50px;
    background-color:#f765b5;
    padding:3% 0 3% 0;
    width:80%;
    border:none;
    text-decoration:none;
    color:white;
    text-align:center;
    
    margin:0 auto;
    font-size:25px;
}
#insth2{color:white;}
#startBtn{
    top:60%;
    left:11%;
}
#infoBtn{
    top:73%;
    left:11%;
}
.img{
    position:absolute;
    max-width:110%;
    max-height:100%;
    vertical-align: middle;
}
.resize{
   width:100%;
    
}
.w{
    width:100%;
}
